h1 {
    text-align: center;
    color: cornflowerblue;
    }

/* NAV COMPONENTS*/
nav {
    background-color: cornflowerblue;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 25px 0 0 ;
}

/*  */
/* BODY */

body {
    text-align: center;
}

#homeImage {
    width: 50%;
}

img {
    width: 50%;
}

#fourOfourimage {
    max-width: 500px;
}